@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>
        Файл "<b>Students.csv</b>" має наступну структуру: <em>код студента</em>, <em>прізвище</em>, <em>група</em>.<br />
        Файл "<b>Rating.csv</b>" має наступну структуру: <em>код студента</em>, <em>назву предмету</em>, <em>форму екзамену</em> та <em>бал</em>. 
    <p />
    <p>
        <b>Виконати наступні завдання:</b>
    </p>
    <p />
    <ol>
        <li>Після авторизації користувача надати йому можливість переглянути вміст файлів на окремих web-сторінках.</li>
        <li>
            Вивести прізвища та назви груп студентів, які мають хоча би одну двійку за іспит та не мають
            жодного нескладеного заліку.
        </li>
        <li>
            Вивести прізвища студентів та їх середній рейтинг за усіма предметами, впорядкувавши записи
            за рейтингом у порядку спадання.
        </li>
    </ol>
</div>
